name: Create Release with ZIP

on:
  push:
    branches:
      - release       # Trigger workflow on pushes to the release branch
  workflow_dispatch:  # Allows manual triggering of the workflow

env: 
  LINK_TEXT: Download the extension ZIP

jobs:
  build-and-release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Version
        id: versioning
        run: | 
          # generate local version in this step
          DATE_VERSION=$(date +'%y.%-m.%-d').${{ github.run_number }}

          # create OUTPUT variables for next steps
          echo "VERSION=$DATE_VERSION" >> $GITHUB_OUTPUT

      - name: Update version in manifest file
        run: |
          VERSION=${{ steps.versioning.outputs.VERSION }}
          sed -i "s/__VERSION__/$VERSION/" manifest.json   
          
      - name: Print version name
        run: |
          echo "### Version: ${{ steps.versioning.outputs.VERSION }}" >> $GITHUB_STEP_SUMMARY

      - name: Build
        run: |
          npm install
          npm run build

      - name: Copy required files
        run: |
          cp -r manifest.json dist/
          mkdir -p dist/pages && cp -r pages/* dist/pages/
          mkdir -p dist/images && cp -r images/* dist/images/

      - name: Zip the extension        
        run: |
          # move inside the folder to avoid having it in the zip and create the artifact in the root
          cd dist
          zip -r ../chrome-extension.zip *

      # Create a release and capture upload URL
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with: 
          tag_name: ${{ steps.versioning.outputs.VERSION }}
          release_name: Chrome Extension Release v${{ steps.versioning.outputs.VERSION }}
          body: "This release contains the version ${{ steps.versioning.outputs.VERSION }} of the Chrome extension."
          draft: false
          prerelease: true

      # Upload the zip file to the release
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: chrome-extension.zip
          asset_name: chrome-extension_no-cookies_${{ steps.versioning.outputs.VERSION }}.zip
          asset_content_type: application/zip
